<nav class="nav-bar">
    <ul>
        <li><a href="">Trainer #1</a></li>
        <li><a href="">Trainer #2</a></li>
        <li><a href="">Trainer #3</a></li>
        <li><a href="">Trainer #4</a></li>
    </ul>
</nav>
<main class="container">
    <h1>JUST DOC IT</h1>
    <a href="/trainer"><button class="button">GET STARTED</button></a>
    <h3>KEEP UP WITH YOUR ATHLETE'S INJURIES, TREATMENTS, AND REHABILITATION PROGRESS</h3>
</main>
{{!-- <footer class="footer-bg">
    <div>
        <p>Copyright© 2020</p>
    </div>
</footer> --}}