<nav class="nav-bar">
    <ul>
        <li><a href="">Trainer #1</a></li>
        <li><a href="">Trainer #2</a></li>
        <li><a href="">Trainer #3</a></li>
        <li><a href="">Trainer #4</a></li>
    </ul>
    <div class="input-field trainer-search">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search for trainer</i></label>
        <i class="material-icons">close</i>
    </div>
</nav>
<main class="container">
    <h1>JUST DOC IT</h1>
    <button type="submit" class="btn btn-success submit">GET STARTED</button>
</main>