<nav class="nav-bar">
</nav>
<main class="container">
    <h1>JUST DOC IT</h1>
    <a href="/trainer"><button class="button">GET STARTED</button></a>
        </br>
    <h3>KEEP UP WITH YOUR ATHLETE'S INJURIES, TREATMENTS, AND REHABILITATION PROGRESS</h3>
</main>
{{!-- <footer class="footer-bg">
    <div>
        <p>Copyright© 2020</p>
    </div>
</footer> --}}