<nav class="nav-bar">
    <h5>CREATED BY JIMMY A., JEFF F., AND JAMIE J.</h5>
</nav>
<main class="container">
    <h1>JUST DOC IT</h1>
    <a href="/trainer"><button class="button">GET STARTED</button></a>
    </br>
    <h3>KEEP UP WITH YOUR ATHLETE'S INJURIES, TREATMENTS, AND REHABILITATION PROGRESS</h3>
</main>