<nav class="nav-bar">
    <h5>TREATMENT/PROGRESSION</h5>
</nav>
<main class="container">
    <button class="button back-btn"><a class="input-color" href="/athlete">BACK</a></button>
    </br>
    <h1>TREATMENT</h1>
    <h2>ADD TREATMENT</h2>
    <div class="row" id="">
        <form class="col s12">
            <div class="form-group">
                <br />
                <label for="plan">Treatment/Rehab Plan:</label>
                <textarea placeholder="Input Treatment and Rehab Plan" class="input-color" rows="10"
                    id="treatment_name"></textarea>
                <div class="form-group">
                    <label for="category">Progress Note:</label>
                    <textarea placeholder="Post Progress Note" class="form-control" rows="10"
                        id="progress_note"></textarea>
                </div>
                <br />

            </div>
            <div class="form-group">
                <label for="category">Select Athlete:</label>
                <select class="custom-select" id="athlete">
                    {{#each allAthlete}}
                    <option value="{{id}}">{{athlete_name}}</option>
                    {{/each}}
                </select>
            </div>
    </div>
    <button type='submit' class="button" id="submit-treatment">SAVE</button>
    </form>
    </div>
</main>