<nav class="nav-bar">
    <h5>TRAINER</h5>
</nav>
<main class="container">
    <button class="button back-btn"><a class="input-color" href="/">BACK</a></button>
    </br>
    <h1>WELCOME JIMMY ALONSO
        {{#each allTrainers}}
        {{trainer_name}}
        {{/each}}
    </h1>
    <h3 class="all-athletes">CHECK OUT YOUR ATHLETES</h3>
    <a href="/athlete"><button class="button all-athletes">ATHLETES</button></a>
    <h3 class="all-athletes">OR GO STRAIGHT TO TREATMENTS</h3>
    <a href="/treatment"><button class="button all-athletes">TREATMENTS</button></a>
</main>