<main>
    <h1>WELCOME
        {{#each allTrainers}}
        {{trainer_name}}
        {{/each}}
    </h1>
    <h3 class="all-athletes">CHECK OUT YOUR ATHLETES</h3>
    <a href="/athlete"><button class="button all-athletes">ATHLETES</button></a>
</main>