<main>
    <h1>WELCOME

        {{#each allTrainers}}
        {{trainer_name}}
        {{/each}}
    </h1>
    <h3>CHECK OUT YOUR ATHLETES</h3>
    <a href="/athlete"><button class="button">ATHLETES</button></a>
</main>